<div>
  <table border="1">
    <tr style="font-weight: bold;">
      <td>
        Nome
      </td>
      <td>
        Peso
      </td>
      <td>
        Altura
      </td>
      <td>
        Frente
      </td>
      <td>
        Costas
      </td>
    </tr>
    <tr *ngFor="let result of pokemonList.results">
      <td>
        <a [routerLink]="['/']" [queryParams]="{nome: result.name}">{{result.name}}</a>
      </td>
      <td>
        {{result.pokemon?.height}}
      </td>
      <td>
        {{result.pokemon?.weight}}
      </td>
      <td>
        <img [src]="result.pokemon?.sprites?.front_default"><br>
      </td>
      <td>
        <img [src]="result.pokemon?.sprites?.back_default"><br>
      </td>
    </tr>
  </table>
</div>
